body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(desktop-wallpaper-black-gradient-background-texture.jpg); /* Replace 'your-background-image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: ##15171A;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.5s ease;
    filter: invert();
    ;

}

.question {
    margin-bottom: 20px;
    background: linear-gradient(to right, #d6e0f0, #d99042);
    padding: 15px;
    border-radius: 8px;
    transition: background 0.5s ease-in-out;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    transition: transform 0.3s ease;
}

input[type="radio"] {
    margin-right: 5px;
    transition: transform 0.3s ease;
}

button {
    background: linear-gradient(to right, #4caf50, #74c476); /* Gradient from green to lighter green */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #509453, #0ba40b); /* Gradient from darker green to lighter darker green */
}

/* Optional: Add a subtle hover effect to the radio buttons for better feedback */
input[type="radio"]:hover {
    transform: scale(1.1);
}
